/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.page {
  align-items: center;
  flex-direction: column;

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;

    #generatedPassword {
      padding-top: 2rem;
      text-align: center;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      font-size: 20rem;
    }
  }
}
