<form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
  <!-- <p>
    Form Status: <br>
    <code>{{ passwordForm.value | json }}</code> <br>
    Form Status: <code>{{ passwordForm.status }}</code>
  </p> -->

  <div *ngIf="passwordForm.invalid && (passwordForm.touched || passwordForm.dirty)"
    class="cross-validation-error-message alert alert-danger">
    The form is not valid
    <ul>
      <li *ngIf="passwordForm.controls.length.errors != null">The length has to be
        <span *ngIf="passwordForm.controls.length.errors.max != null"> less or equal to
          {{passwordForm.controls.length.errors.max.max}}</span>
        <span *ngIf="passwordForm.controls.length.errors.min != null">
          at least {{passwordForm.controls.length.errors.min.min}}</span>
      </li>
      <li *ngIf="passwordForm.controls.checkboxGroup.errors != null">
        You didn't select any characters</li>
    </ul>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="length" required>Length</label>
    <div class="col-sm-8">
      <input class="form-control" type="number" id="length" formControlName="length" />

    </div>
  </div>
  <div formGroupName="checkboxGroup">
    <div class="form-group row">
      <label for="uppercase" class="col-sm-4">Include uppercase</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <label class="form-check-label text-muted">
            <input id="uppercase" class="form-check-input" formControlName="includeUppercase" type="checkbox"
              value="checkedValue" />
            ( e.g. ABC )
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="lowercase" class="col-sm-4">Include lowercase</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <label class="form-check-label text-muted">
            <input id="lowercase" class="form-check-input" formControlName="includeLowercase" type="checkbox"
              value="checkedValue" />
            ( e.g. abc )
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="symbol" class="col-sm-4">Include symbols</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <label class="form-check-label text-muted">
            <input id="symbol" class="form-check-input" formControlName="includeSymbols" type="checkbox"
              value="checkedValue" />
            ( e.g. @#$% )
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="number" class="col-sm-4">Include numbers</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <label class="form-check-label text-muted">
            <input id="number" class="form-check-input" formControlName="includeNumbers" type="checkbox"
              value="checkedValue" />
            ( e.g. 0123 )
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="similar" class="col-sm-4">Exclude similar</label>
    <div class="col-sm-8">
      <div class="form-check form-check-inline">
        <label class="form-check-label text-muted">
          <input id="similar" class="form-check-input" formControlName="excludeSimilar" type="checkbox"
            value="checkedValue" />
          ( e.g. i, l, 1, L, o, 0, O )
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="ambiguous" class="col-sm-4">Exclude ambiguous</label>
    <div class="col-sm-8">
      <div class="form-check form-check-inline">
        <label class="form-check-label text-muted">
          <input id="ambiguous" class="form-check-input" formControlName="excludeAmbiguous" type="checkbox"
            value="checkedValue" />
          ( e.g. {{ "{" }} } } [ ] ( ) / \ ' " ` ~ , ; : . <> )
        </label>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!passwordForm.valid">Generate new password</button>
</form>
<!-- <a type="submit" src="http://example.com" class="btn btn-secondary">Download android app</a> -->
<!-- generated password  -->
<pre class="mt-3 alert alert-info">
  <code id="generatedPassword">{{generatedPassword}}</code>
</pre>
