<FlexboxLayout class="page" xmlns:df="nativescript-ui-dataform" xmlns="http://www.nativescript.org/tns.xsd">
  <ActionBar title="Password generator" class="action-bar"></ActionBar>

  <StackLayout class="form container">

    <RadDataForm tkExampleTitle tkToggleNavButton [source]="allPasswordData" [metadata]="passwordMetadata">
    </RadDataForm>

    <!--TODO: Basic validation -->
    <button id="btn-password" (tap)="onSubmit(allPasswordData)" class="-primary" text="Generate new password"
      isEnabled="true"></button>

    <label id="generatedPassword" [text]="generatedPassword"></label>

  </StackLayout>

</FlexboxLayout>
