<div class="container h-100 d-flex">
  <div class="my-auto mx-auto container ">
    <!-- <button class=" btn btn-secondary" mat-button [matMenuTriggerFor]="menu">
    Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->
    <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
    <h1 class="mb-4">{{ title }}</h1>
    <router-outlet></router-outlet>
  </div>
</div>
